body { 
background: #ccc;
}

#wrapper { 
width: 80%;
margin-left: auto;
margin-right: auto;
 }

#tree_navigation { 
float: left;
width: 20%;
min-height: 300px;
 }

#subtree { 
font-size: 110%;
 }

#header { 
font-weight: bold;
font-size: 80%;
 }

#footer { 
font-size: 70%;
text-align: center;
 }



.small, .sub, .sup {  
     font-size: .83em;
 }

.sub {  vertical-align: sub } 
.sup {  vertical-align: super } 

.todo { 
color: #f00;
 }

.done { 
color: #090;
 }

.wait { 
color: #00f;
 }

.plainType { 

 }

h1.treeHeader { 

font-size: 120%;

 }